@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&display=swap');


*{
    margin:0;
    padding: 0;
    
    
}

body {

    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
  }

header{
    margin-top: 6px;
    margin-left: 220px;
    margin-right: 220px;
    background-color:#2A9A81;
    position: center;
    font-family:cursive;
    font-size: 18px;
    height: 70px;
}

ul{
    
  float: unset; 
  text-align: center; 
  
}

ul li{
    margin-top: 23px;
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 40px  ;
    transition: 0.6s ease;
    
}

ul li a:hover{
    color: rgb(231, 255, 11);
}

ul li.active a{
    color: rgb(251, 255, 36);
    
}

.title{
    background-image: url(../img1.jpg);
    height: 300px;
    width: 750px;
    margin-top: 25px;
    padding-left: 0px;
    margin-left: 220px;
    margin-right: 220px;
    border:white;
    border-width: 5px;
    border-style: solid;
    border-radius: 8px;
}

.bottom{
   
    
    height: 500px;
    width: 750px;
    margin-top: 18px;
    padding-left: 0px;
    margin-left: 220px;
    margin-right: 220px;
    background-color: white;
    border:white;
    border-width: 5px;
    border-style: solid;
    border-radius: 8px;
}

.img2{
    height: 240px;
    width: 240px;
    margin-top: 1.3%;
   margin-left: 270px;

}
.h1{
    font-size: 1.5pc;
    font-family:cursive;
    margin-top: -31.8%;
    padding-left: 270px;
    color: #2A9A81;
}

.p{
    font-size: 1.1pc;
    font-family:cursive;
    margin-top: -16.4%;
    padding-left: 570px;
    color: #000000;
    width: 26%;
    font-weight: bold;
}
.p2{
    font-size: 0.9pc;
    font-family:cursive;
    margin-top: 1%;
    padding-left: 570px;
    color: #000000;
    width: 26%;
    
}

.side1{
    
    height: 310px;
    width: 280px;
    margin-top: -42.5%;
    margin-left: 1020px;
    border-radius: 8px;
    background-color: #2A9A81;

}
.side2{
    
    height: 310px;
    width: 280px;
    margin-top:1%;
    margin-left: 1020px;
    border-radius: 8px;
    background-color: #01a3d4;
}
.p3{
    font-size: 0.9pc;
    font-family:cursive;
    margin-top: 1%;
    padding-left: 570px;
    color: #000000;
    width: 26%;
    
}
.b1{
    
    height: 40px;
    width: 280px;
    margin-top: -23.9%;
    margin-left: 1020px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    background-color: #227B67;

}
.b2{
    position: absolute;
    height: 40px;
    width: 280px;
    margin-top: 20%;
    margin-left: 1020px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #357D95;
}

.bm2{
    display: inline-block;
    font-family: cursive;
    margin-left: 1020px;
    margin-top: -190px;
   
}
.second_div{
  
    height: 300px;
    width: 290px;
    margin-left: 40px;
    margin-left: 1030px;
    margin-top: -313px;
    }    
.second_div h1{
    font-family: cursive;
    color: white;
    padding-left: 8%;
    padding-top: 4%;
}
.second_div p{
    font-family: cursive;
    padding-inline-end: 0%;
    padding-top: 60px;
    padding-left: 17px;
  
}
.second_div p a{
    font-family: cursive;
    text-decoration: none;
    color: white;
    padding: 17px ;
    
}

.final{
  
    height: 300px;
    width: 290px;
    margin-left: 40px;
    margin-left: 1030px;
    margin-top: 40px;
    }    
.final h1{
    font-family: cursive;
    color: white;
    padding-left: 8%;
    padding-top: 4%;
    text-decoration: none;
}
.b2 p{
    font-family: cursive;
    
    padding-top: 10px;
    padding-left: 17px;
  
}
.b2 p a{
    font-family: cursive;
    text-decoration: none;
    color: white;
    padding: 13px ;
    
}
